/* GENERAL STYLING */

body, html {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--secondary-clr);
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}

.container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  width: 90%;

  h2 {
    font-family: PaytoneOne;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
  }
}

.dNone {
  display: none;
}

.inactive {
  opacity: 0.6;
  pointer-events: none;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SHARED COMPONENTS */

.btn {
  font-family: 'BebasNeue', sans-serif;
  background-color: var(--highlight-clr);
  color: var(--primary-clr);
  font-size: 1.5rem;
  height: 56px;
  padding: 0.25rem 0.25rem;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 15;

  span {
    margin: 0 0.5rem;
    padding-top: 0.2rem;
  }

  i {
    font-size: 2.5rem;
  }

  &:active {
    background-color: var(--secondary-clr);
    scale: 0.95;
  }

  &:hover {
    cursor: pointer;
  }
}

.SearchBar {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* MODAL STYLING */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-clr);
  padding: 1rem;
  border-radius: 10px;
  max-width: 500px;
  min-width: 250px;
  max-height: 500px;
  overflow: auto;
  text-align: center;
  border: 2px solid var(--secondary-clr);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 12;
}

.modalHeader {
  text-align: right;
  cursor: pointer;
  font-size: 1.5rem;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  * {
    margin: 0.5rem;
    font-size: 1.2rem;
  }

  p {
    font-family: BebasNeue;
    font-size: 1.5rem;
  }

  i {
    font-size: 3rem;

    &:active {
      color: var(--secondary-clr);
    }
  }

  ul {
    margin: 0;
    text-align: start;
    font-family: Arial;
  }

  .btn {
    width: 50%;
    justify-content: center;
  }
}

#explain {
  font-family: Arial;
  font-size: 1.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

/* FOOTER STYLING */

footer {
  text-align: center;
  padding: 1rem 0;
  gap: 1rem;
  height: auto;

  p {
    margin: 0.5rem;
  }

  a {
    color: var(--secondary-clr);
    font-family: PaytoneOne;
    font-size: 1rem;
    padding: 0;
  }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .container {
    gap: 11rem;
  }
}