.App {
  height: 100vh;
  color: var(--secondary-clr);
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.SearchBar {
  display: flex;
  width: 100%;
  justify-content: center;
}

.dNone {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  width: 90%;

  h2 {
    font-family: PaytoneOne;
    font-size: 2rem;
    text-align: center;
  }
}

.modal {
  background-color: var(--primary-clr);
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.5rem;
}

.inactive {
  opacity: 0.6;
  pointer-events: none;
}
