.App {
  height: 100vh;
  color: var(--secondary-clr);
}

.App-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  font-family: 'BebasNeue', sans-serif;

  h1 {
    margin: 1rem 2rem;
    letter-spacing: 0.02rem;
    text-align: center;
  }
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dNone {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  width: 90%;

  h2 {
    font-family: PaytoneOne;
    font-size: 2rem;
    text-align: center;
  }
}

.modal {
  background-color: var(--primary-clr);
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.5rem;
}
