nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  border-bottom: 1px solid var(--highlight-clr);
}

#logo {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'PaytoneOne', sans-serif;
}

.btnLogin {
  padding: 0.25rem 0.25rem;
  border: none;
  border-radius: 40px;
  background-color: var(--highlight-clr);
  color: var(--primary-clr);
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 3rem;
  max-height: 3rem;

  img {
    border-radius: 50%;
    border: 2px solid #0D2D26;
    object-fit: contain;
    height: 3rem;
  }

  span {
    padding: 0 1rem 0 1rem;
  }

  #login {
    &:hover {
      text-decoration: underline;
    }
  }

}