nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #FFF1BA;
}

#logo {
  font-size: 2.5rem;
  font-weight: bold;
}

.btnLogin {
  padding: 0.25rem 0.25rem;
  border: none;
  border-radius: 40px;
  background-color: #FFED61;
  color: #0D2D26;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 3rem;
  max-height: 3rem;

  img {
    border-radius: 50%;
    border: 2px solid #0D2D26;
    object-fit: contain;
    height: 3rem;
  }

  span {
    padding: 0 1rem 0 1rem;
  }

  #login {
    &:hover {
      text-decoration: underline;
    }
  }

}