.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem 1rem;

  input {
    height: 30px;
    border-radius: 40px;
    min-width: 400px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 600px;
    border: 1px solid var(--primary-clr);

    &:focus {
      outline: 2px solid var(--highlight-clr);
    }
  }
}