.trackList {
  padding: 0;
  margin: 0;
}

.tracksContainer {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 2px dashed var(--secondary-clr);
  border-bottom: 2px dashed var(--secondary-clr);
}