:root {
  --primary-clr: #0D2D26;
  --secondary-clr: #FFF1BA;
  --highlight-clr: #FFED61;
  --shadow-dark: 10px 10px 8px #081613;
}

@font-face {
  font-family: 'PaytoneOne';
  src: url('../assets/fonts/PaytoneOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}